
h2
{
 text-align: center;
 font-size: 300%;
}
p{
	position: relative;
	text-align: center;
	top:50%;
	width: 1800px;
}
<style type="text/css">
#today
{
	position: relative;
	text-align: center;

}
</style>